<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>$SCRIPT_ROOT = {{ request.script_root|tojson }}; </script>
	<script>
		var js;
		$(document).ready(function() {
		  $.getJSON($SCRIPT_ROOT + '/episode/results', {
		    nfid: localStorage.getItem('nfid')
		  }, function(data){
			js = data;
			for(var i = 0; i < js['result'].length; i++){
			  let o = new Option('Season ' + i+1, i+1);
			  $(o).html('Season ' + (i+1));
			  $('#seasons').append(o);
			}
			$('#seasons').change(function(){
			  build_season($('#seasons').val());
			});
 			build_season(1);
		  });
		});

		function build_season(sea){
		    $('#container').empty();
		    for(var i = 0; i < js['result'][sea-1]['episodes'].length; i++){
		     (function(){
		       var $div = $('<div/>',{
		          id: js['result'][sea - 1]['episodes'][i]['epid'],
			  class: 'show'
		       });
		       $div.click(function(){
		          $.getJSON($SCRIPT_ROOT + '/watch', {
			    epid: $div.attr('id')
			  }, function(data){});
		       });

		       var $inner_div = $('<div/>',{
		          class: 'imgc'
		       }).appendTo($div);

		       $('<img/>', {
			  src: js['result'][sea - 1]['episodes'][i]['img']
		       }).appendTo($inner_div);

		       $('<h1/>', {
			  text: js['result'][sea - 1]['episodes'][i]['title']
		       }).appendTo($inner_div);

		       $('<p/>', {
			  text: js['result'][sea - 1]['episodes'][i]['synopsis']
		       }).appendTo($div);

		       $div.appendTo('#container');
		    })();
	           }
		  }
	</script>
</head>
<body>
  <div id="controls">
	  <button id="home" onclick="location.href = $SCRIPT_ROOT + '/'">Home</button>
	  <select id="seasons"><select>
  <div id="container"></div>
</body>
