<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script>$SCRIPT_ROOT = {{ request.script_root|tojson }}; </script>
</head>
<body>
<form action="/shows" method="POST">
	<input id="search" name="search" type="search" placeholder="Search Netflix">
</form>
<div id={{ id1 }} class="show" onclick="localStorage.setItem('nfid', this.id); location.href = $SCRIPT_ROOT + '/episodes';">
  <div class="imgc">
    <img src={{ img1 }}>
    <h1>{{ shw1 }}</h1>
  </div>
    <p>{{ desc1 }}</p>
</div>

<div id={{ id2 }} class="show">
  <div class="imgc">
    <img src={{ img2 }}>
    <h1>{{ shw2 }}</h1>
  </div>
    <p>{{ desc2 }}</p>
</div>

<div id={{ id3 }} class="show">
  <div class="imgc">
    <img src={{ img3 }}>
    <h1>{{ shw3 }}</h1>
  </div>
    <p>{{ desc3 }}</p>
</div>

<div id={{ id4 }} class="show">
  <div class="imgc">
    <img src={{ img4 }}>
    <h1>{{ shw4 }}</h1>
  </div>
    <p>{{ desc4 }}</p>
</div>

<div id={{ id5 }} class="show">
  <div class="imgc">
    <img src={{ img5 }}>
    <h1>{{ shw5 }}</h1>
  </div>
    <p>{{ desc5 }}</p>
</div>
</body>
